@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

* {
	font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: 'TitleFont';
  src: url('$lib/assets/fonts/sd_auto_pilot.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::selection {
	background-color: black;
	color: #eee;
}

.font-title {
	font-family: 'TitleFont', serif !important;
}

body {
	margin: 0;
	padding: 0;
	background-color: #eee;
}

h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	letter-spacing: -0.05em;
	font-weight: bold;
}

h2 {
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 2.25rem;
	letter-spacing: -0.05em;
}

.secondary {
	font-family: monospace;
	color: #aaa;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dotted-underline {
	text-decoration: underline;
	text-decoration-color: #aaa;
	text-decoration-style: dotted;
	text-underline-offset: 3px;
}
