@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.ancizar-serif-fontserif {
	font-family: 'Ancizar Serif', serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

* {
	font-family: 'Ancizar Serif', Times, serif;
}

a:hover {
	text-decoration: underline;
}

::selection {
	background-color: black;
	color: #fefefe;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fefefe;
}

h1 {
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: -0.05em;
	font-weight: bolder;
}

h2 {
	font-size: 1.875rem;
	font-weight: bold;
	line-height: 2.25rem;
	letter-spacing: -0.05em;
}

.secondary {
	font-family: monospace;
	color: #888;
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dotted-underline {
	text-decoration: underline;
	text-decoration-style: dotted;
	text-underline-offset: 3px;
}

.prose code::before {
	content: '' !important;
}

.prose code::after {
	content: '' !important;
}
